<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.yzq.springboot.mapper.StudentMapper">
<select id="getStudentListByClazzid" resultType="com.yzq.springboot.bean.Student">
    SELECT
	DISTINCT 
	student.id,
	student.`name`,
	student.clazzid clazzId,
	student.gradeid gradeId
FROM
	student 
WHERE
	student.clazzid = #{clazzId} 

</select>
<insert id="addStudent"
parameterType="com.yzq.springboot.bean.Student"
useGeneratedKeys="true"
keyProperty="id"
>
INSERT INTO student(
					name,
					clazzid,
					gradeid
			 )VALUES(
			        #{name},
			        #{clazzId},
			        #{gradeId}
			        )
</insert>
</mapper>
